/*********** Main Layout **********/

body {
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid grey;
  height: 80vh;
}

.container * {

}


/********* Top bar **************/

#upload-btn {
  display: inline;
}

h1 {
  display: inline;
  font-family: 'Monoton', cursive;
  font-weight: lighter;
  font-size: 3em;
}

.top-bar {
  display: flex;
  align-items: center;
  border: 3px solid grey;
  justify-content: center;
  background-color: #00ECFF;
}


.far {
  color: #EB17EB;
}

.fas {
  color: red;
}


/********** MODAL & FORM   ***************/
#modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'Roboto Mono', monospace;
}

#upload-form {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 7%;
  width: 50%;
}

#modal input[type='text'] {
 padding: 2%;
 width: 70%;
 border-radius: 5px;
}

#hide_button {
  float: left;
}

#modal input {
  display: block;
  margin: 2rem
}

.hidden#modal {
  display: none;
}
/**************** Decks ****************/

.audio-container {
  height: 50%;
  border: 2px solid grey;
  padding: 0px;
  position: relative;
  background-color: #36454f;
  color: white;
}

#decks {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.controls > * {
  margin: 10px;
  font-family: 'Roboto Mono', monospace;

}

.controls .play {
  background-color: grey;
  color: white;
  padding: 10px;
  width: 7%;
  border-radius: 2px;
  margin-top: 5%;
}

.controls .playback-btn {
  background-color: grey;
  color: white;
  padding-left: 10p;
  padding-right: 10px;
}

.waveform {
  background-color: black;
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.playback {
  display: flex;
  justify-content: flex-end;
}

.info-bar {
  background-color: whitesmoke;
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: grey;
  text-align: center;
}



/*************** Master Controls *************/

#master-controls {
  width: 25%;
  padding: 2px;
  border: 2px solid grey;
  background-color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
}

#crossfade {
  transform: rotate(-90deg);
  width: 70%;
  height: 50%;


}



/****************** Songs list******************/

#songs-list {
  list-style: none;
  overflow: scroll;
  border: 2px solid grey;
  padding: 0;
  margin: 0;
  flex-grow: 2;
  width: 25%;
}
#songs-list li {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding-left: 5px;
  font-family: 'Roboto Mono', monospace;
  background-color: whitesmoke;
}

.song-info {
  width: 60%;
  word-wrap: break-word;

}

.load-buttons {
  width: 40%;
}

.load-button {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: 'Audiowide', cursive;
  font-size: 2.8rem;
  height: 50%;
}
.load-button > p {
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.deck-1-btn {
   background-color: #EB17EB;
}

.deck-2-btn {
  background-color: #FFFF00;
}


/*************** Vendor CSS *****************/

/* fonts

font-family: 'Monoton', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Roboto Mono', monospace;

*/