/*********** Main Layout **********/

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.container * {


}


/********* Top bar **************/

#upload-btn {
  display: inline;
}

h1 {
  display: inline;
}

.top-bar {
  display: flex;
  align-items: center
}

/********** MODAL & FORM   ***************/
#modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;

}

#upload-form {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #ffffff;
  padding: .8em;
  border-radius: 7%;
}

#hide_button {
  float: left;
}

#modal input {
  display: block;
  margin: 2rem
}

.hidden#modal {
  display: none;
}
/**************** Decks ****************/

.audio-container {
  height: 40vh;
  width: 100%;
}

/*************** Master Controls *************/

#master-controls {
  height: 80vh
}

#crossfade {
  transform-origin: 10vh 10vh;
  transform: rotate(-90deg);
}



/****************** Songs list******************/

#songs-list {
  list-style: none;
  overflow: scroll;
  height: 80vh;
  border: 2px solid black;
}
#songs-list li {
  border: 1px solid gray;
}



/*************** Vendor CSS *****************/
