/*********** Main Layout **********/

body {
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid grey;
  height: 80vh;
}

.container * {

}


/********* Top bar **************/


h1 {
  display: inline;
  font-family: 'Monoton', cursive;
  font-weight: lighter;
  font-size: 2.8em;
  margin: 15px;
}

.top-bar {
  display: flex;
  align-items: center;
  border: 3px solid grey;
  justify-content: space-between;
  background-color: #00ECFF;
}

#upload-btn {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-left: 2%;
}

.far {
  color: #EB17EB;
  display: block;
}

.my-text {
  color: #EB17EB;
  font-family: 'Roboto Mono', monospace;
  display: block;
}

#record-btn {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-right: 2%;
}

.fas {
  color: red;
  display: block;
  padding: 10px;
}

.my-text-record {
  color: red;
  font-family: 'Roboto Mono', monospace;
  display: block;
}


/********** MODAL & FORM   ***************/
#modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'Roboto Mono', monospace;
}

#upload-form {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #ffffff;
  border-radius: 7%;
  width: 50%;
  padding-left: 8%;
}

#modal input[type='text'] {
 padding: 2%;
 width: 70%;
 border-radius: 5px;
 font-size: 1.2rem;
 color: grey;
 font-family: 'Roboto Mono', monospace;
}

#hide_button {
  float: left;
}

#modal input {
  display: block;
  margin: 2rem;
}

.hidden#modal {
  display: none;
}

.file-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Roboto Mono', monospace;
}

.file-submit {
  font-family: 'Roboto Mono', monospace;
  width: 40%;
  border-radius: 2px;
  background-color: whitesmoke;
}

.progress-bar {
  width: 80%;
}
/**************** Decks ****************/

.audio-container {
  height: 50%;
  border: 2px solid grey;
  padding: 0px;
  position: relative;
  background-color: #36454f;
  color: white;
}

#decks {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.controls {
  /* margin-top: 27px; */
}

.controls > * {
  /* margin: 10px; */
  font-size: .75rem;
  font-family: 'Roboto Mono', monospace;
}

.controls .play {
  background-color: grey;
  color: white;
  padding: 10px;
  width: 7%;
  border-radius: 2px;
  margin-top: 5%;
  height: 50%;
}

.controls .playback-btn {
  background-color: grey;
  color: white;
  padding-left: 10p;
  padding-right: 10px;
}

.waveform {
  height: 40%;
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.playback {
  display: inline-block;
  justify-content: flex-end;
}

.playback input {
  /* transform: rotate(-90deg); */
  width: 50%;
}


.info-bar {
  font-family: 'Roboto Mono', monospace;
  background-color: whitesmoke;
  width: 100%;
  height: 10%;
  /* position: absolute; */
  top: 0;
  padding: 0;
  margin: 0;
  color: grey;
  text-align: center;
  overflow: scroll;
}

.EQ {
  float: right;
}

.EQ label {
  display: block;
}



/*************** Master Controls *************/

#master-controls {
  width: 25%;
  padding: 2px;
  border: 2px solid grey;
  background-color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#crossfade {
  transform: rotate(-90deg);
  width: 70%;
  height: 50%;
}

.fx {
  border-top: 2px solid grey;
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/****************** Songs list******************/

#songs-list {
  list-style: none;
  overflow: scroll;
  border: 2px solid grey;
  padding: 0;
  margin: 0;
  flex-grow: 2;
  width: 25%;
}
#songs-list li {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding-left: 5px;
  font-family: 'Roboto Mono', monospace;
  background-color: whitesmoke;
}

.song-info {
  width: 60%;
  word-wrap: break-word;
  font-size: .75rem;
}

.load-buttons {
  width: 40%;
}

.load-button {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: 'Audiowide', cursive;
  font-size: 2.8rem;
  height: 50%;
}
.load-button > p {
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.deck-1-btn {
   background-color: #EB17EB;
}

.deck-2-btn {
  background-color: #FFFF00;
}


/*************** Vendor CSS *****************/

/* fonts

font-family: 'Monoton', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Roboto Mono', monospace;

*/
